.container {
  background-color: var(--background);
  display: flex;
  padding: var(--l);
  border-bottom: 2px solid var(--light-grey);
}
.logo {
  width: 100px;
  margin-right: var(--m);
  cursor: pointer;
}

.containerTags {
  margin-left: var(--xxl);
}
