.containerHome {
  padding: var(--xxl);
}
.contentCard {
  display: flex;
  align-items: flex-start;
}

.columnStyle {
  width: -webkit-fill-available;
  margin-right: var(--m);
}

.cardStyle {
  margin-bottom: 42px;
}

.buttonStyle {
  align-self: center;
}
