.container {
  background-color: var(--background);
  font-size: var(--l);
  display: flex;
  padding: var(--xl);
  justify-content: space-between;
  border-bottom: 2px solid var(--light-grey);

  .link {
    margin-left: 16px;
    width: max-content;
    &:hover {
      color: var(--secondary-text);
    }
  }
}

.logo {
  width: 200px;
}

.containerLink {
  display: flex;
}

.searchContainer {
  width: 500px;
  padding: 0px 32px;
}
