.passengers {
  display: flex;
  align-items: center;

  &_icon {
    font-size: var(--xl);
    margin-left: var(--m);
  }
  &_left {
    margin-left: var(--m) !important;
  }
}

.cardsStyles {
  margin-right: var(--xl);
}

.buttonStyles {
  margin-top: var(--m) !important;
  width: -webkit-fill-available;
}

.columnEmail {
  margin-top: var(--m);
}

.mr8 {
  margin-right: var(--xxs);
}

.linkText {
  margin-right: var(--xxs);
  margin-left: var(--xxs);
}

.containerAccount {
  align-items: center;
}

@media screen and (max-width: 600px) {
  .passengers {
    flex-direction: column;
    align-items: flex-start;
    &_left {
      margin-left: 0px !important;
    }
  }
  .containerCardPayments {
    flex-direction: column;
  }
  .cardsStyles {
    margin-right: 0px;
    margin-bottom: var(--m);
  }
  .containerAccount {
    flex-direction: column;
  }
  .mr8 {
    margin-right: 0px;
  }
}
